<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <title>Atualizar Senha</title>
</head>
<body>
    <div class="containerLogin">
        <h1>Atualizar Senha</h1>
        <div class="alert alert-success" role="alert" id="alerta" style="display: none;">
            Senha atualizada com sucesso!
        </div>
       <form class="formLogin" id="EditSenha">
        <div>
            <input type="password" name="senha" id="senha" placeholder="Digite a senha atual" required="true">
        </div>
        <div>
            <input type="password" name="senhanova" id="senhanova" placeholder="Digite a senha nova" required="true">
        </div>
        <div>
            <input type="password" name="testesenha" id="testesenha" placeholder="Confirme sua senha" required="true">
        </div>
        <div>
            <button type="submit" class="enviaform">Salvar e Alterar</button>
        </div>
       </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/AtualizarSenha.js"></script>
    </body>
</html>