<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Veiculos</title>
</head>
<body>
        <div class="containerLogin">
            <h1>Veículo</h1>
        <form class="formVeiculo" id="VeiculoForm">
            <div>
                <input type="text" name="name" id="nome" placeholder="Digite o nome do veículo" required="required">
            </div>
            <div>
                <input type="text" name="placa" id="placa" placeholder="Digite o número da placa" required="required">
            </div>
            <div>
                <button type="submit" class="enviaform">Cadastrar</button>
            </div>
        </form>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/veiculo.js"></script>
</body>
</html>